<!DOCTYPE html>
   <head>
      <title>Test PI mobile</title>
      <link rel="stylesheet" href='../static/styles.css'>
   </head>
   <body>
      <h1>PI Led GPIO</h1>
      
      <a href="/ledYlw/on" class="button">TURN ON</a>
      <a href="/ledYlw/off" class="button">TURN OFF</a>
      <br>
      <hr>
      <br>
      <a href="/moteur/forward" class="button">FORWARD</a>
      <a href="/moteur/stop" class="button">STOP</a>


      <a href="/camera/on" class="button">Allumer caméra</a>
   </body>
</html>